@model ASP.Net_MVC_Core.Models.User
@{
    var returnUrl = @Context.Request.Query["returnurl"];
}
<div class="container">
    <div class="row col-md-12">
        Đăng nhập
    </div>

    @using (Html.BeginForm("authent", "account", FormMethod.Post))
        {
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <td>User Name: </td>
                <td> @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td> @Html.PasswordFor(m => m.PassWord, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-outline-success btn-rounded" value="true" name="Response">Đăng nhập</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-outline-success btn-rounded" value="false" name="Response">Hủy</button>
                </td>
            </tr>
        </table>

    }

</div>