
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="col-12">
                &copy; 2023 - Lập trình web ASP.Net_MVC_Core
            </div>
        </div>
    </footer>
