
    <div class="container">
        <div class="row head_page">
            <div class="col-3">
                <img class="logo" src="/images/logo_ESAP.png" />
            </div>
            <div class="col-9"><span class="title">Lập trình Web ASP.Net MVC Dotnet Core</span> </div>
        </div>
    </div>
