
@model ASP.Net_MVC_Core.Models.Student
<div class="student_info">
    <div class="student_info_title">Thông tin Sinh Viên </div>
    <div>Mã Sinh Viên:  @Html.DisplayFor(m => m.id)</div>
    <div>Tên Sinh Viên: @Html.DisplayFor(m => m.name) </div>
    <div>Ngày sinh: @Html.DisplayFor(m => m.birthday)</div>
    <div>Địa chỉ: @Html.DisplayFor(m => m.address_full)</div>
</div>